body .blue,
.blue {
    color: #5AAFB7;
}
body .red,
.red {
    color: #e8174e;
}
body .green,
.green {
    color: #a8e632;
}
body .yellow,
.yellow {
    color: yellow;
}
@-moz-keyframes pulse {0% {color: #e8174e;} 25% {color: #a8e632;} 50% {color: yellow;} 100% {color: #5AAFB7;}}
@-webkit-keyframes pulse {0% {color: #e8174e;} 25% {color: #a8e632;} 50% {color: yellow;} 100% {color: #5AAFB7;}}
@-o-keyframes pulse {0% {color: #e8174e;} 25% {color: #a8e632;} 50% {color: yellow;} 100% {color: #5AAFB7;}}
@-ms-keyframes pulse {0% {color: #e8174e;} 25% {color: #a8e632;} 50% {color: yellow;} 100% {color: #5AAFB7;}}
@-keyframes pulse {0% {color: #e8174e;} 25% {color: #a8e632;} 50% {color: yellow;} 100% {color: #5AAFB7;}}
body .animation,
.animation {
    color: #5AAFB7;
    -moz-animation: pulse 1s linear infinite alternate;
    -webkit-animation: pulse 1s linear infinite alternate;
    -o-animation: pulse 1s linear infinite alternate;
    -ms-animation: pulse 1s linear infinite alternate;
    animation: pulse 1s linear infinite alternate;
}
figure img {
    width: 50%;
}
.off-uppercase,
h2.off-uppercase {
    text-transform: none;
}
body .width-40p {
    width: 40%
}
body .achievement, body .con {
    opacity: 1;
}
body .achievement span, body .con span {
    visibility: hidden;
}
body .achievement-svn {
    background: transparent url("../images/ach-svn.png") 50% no-repeat;
}
body .achievement-git {
    background: transparent url("../images/ach-git.png") 50% no-repeat;
}
body .con {
    background: transparent url("../images/con.png") 50% no-repeat;
    height: 392px;
    margin-top: -220px;
}
body {
    background: #000;
}
